{% extends 'base.html.twig' %}


{% block body %}

    <h1> Ice Cream - Home Page</h1>

    <hr>
    {% for iceCream in iceCreams %}

        {% if iceCream.public %}
        <h2>{{ iceCream.name }}</h2>

        {{ iceCream.summary }}

        <br>
            <img class="items" src="/images/{{ iceCream.photo }}" alt="{{ iceCream.photo }}">

        <br>

        <a href="{{ url('ice_cream_show_public', {'id': iceCream.id}) }}"> See More</a>
        <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
