{% extends 'base.html.twig' %}


{% block body %}

    <h1> Ice Cream - Home Page</h1>

    <hr>
    {% for iceCream in iceCreams %}
        {% set totalRating = 0 %}
        {% set counter = 0 %}
        {% set overallRating = 0 %}

        {% if iceCream.public %}
            <h2>{{ iceCream.name }}</h2>

            {{ iceCream.summary }}

            <br>
                <img class="items" src="/images/{{ iceCream.photo }}" alt="{{ iceCream.photo }}">

            <br>

            {% for review in reviews %}
                {% if iceCream.id == review.icecream.id %}
                    {% set totalRating = totalRating + review.stars %}
                    {% set counter = counter + 1 %}
                {% endif %}
            {% endfor %}


            Overall rating:
            {% if counter != 0 %}
                {% set overallReview = totalRating / counter %}
                <span class="rating-static rating-{{  overallReview|round(-1, 'ceil') }}"></span>
                {#{{ overallReview|round(-1, 'ceil') }}#}
            {% endif %}
            <a href="{{ url('ice_cream_show_public', {'id': iceCream.id}) }}"> See More</a>
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
