{% extends 'base.html.twig' %}

{% block title %}IceCream{% endblock %}

{% block body %}
    {% set totalRating = 0 %}
    {% set counter = 0 %}
    {% set overallRating = 0 %}
    <h1>IceCream</h1>

    <table>
        <tr>
            <th>Id</th>
            <td>{{ iceCream.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ iceCream.name }}</td>
        </tr>
        <tr>
            <th>Brand</th>
            <td>{{ iceCream.brand }}</td>
        </tr>
        <tr>
            <th>Flavour</th>
            <td>{{ iceCream.flavour }}</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{ iceCream.summary }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ iceCream.price }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ iceCream.description }}</td>
        </tr>
        <tr>
            <th>Ingredients</th>
            <td>{{ iceCream.ingredients }}</td>
        </tr>
        <tr>
            <th>Photo</th>
            <td>
                <img class="items" src="/images/{{ iceCream.photo }}" alt="{{ iceCream.photo }}">
            </td>
        </tr>
        <tr>
            <th>Public</th>
            <td>{{ iceCream.public ? 'Yes' : 'No' }}</td>
        </tr>

        <tr>
            <th>Creator</th>
            <td>{{ iceCream.user.username }}</td>

        </tr>

        <tr>
            <th>Review</th>
            <td>

                {% for review in reviews %}
                    {% if iceCream.id == review.icecream.id %}
                        {% set totalRating = totalRating + review.stars %}
                        {% set counter = counter + 1 %}

                        <a href ="{{ url('review_show_public', {'id': review.id}) }}">Review</a>
                    {% endif %}


                {% else %}
                    No reviews found
                {% endfor %}
            </td>
        </tr>

        <tr>
            <th>Overall Rating</th>
            <td>
                {% if counter != 0 %}
                    {% set overallReview = totalRating / counter %}
                    <span class="rating-static rating-{{  overallReview|round(-1, 'ceil') }}"></span>
                    {#{{ overallReview|round(-1, 'ceil') }}#}
                {% endif %}
            </td>
        </tr>
    </table>

    {% if is_granted('ROLE_USER') %}
        <a href="{{ url('review_user_review', {'icecream_id': iceCream.id}) }}"> Add Review</a>
    {% endif %}

    <a href="{{ url('default') }}">Back to home</a>


{% endblock %}