{% extends 'base.html.twig' %}

{% block title %}Review{% endblock %}

{% block body %}

    <h1>Review</h1>

    <table>
        <tr>
            <th>Id</th>
            <td>{{ review.id }}</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{ review.summary }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ review.date ? review.date|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Shop</th>
            <td>{{ review.shop }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ review.price }}</td>
        </tr>
        <tr>
            <th>Stars</th>
            <td><span class="rating-static rating-{{  review.stars }}"></span></td>
        </tr>
        <tr>
            <th>Public</th>
            <td>{{ review.public ? 'Yes' : 'No' }}</td>
        </tr>
    </table>
    <a href="{{ url('ice_cream_show_public', {'id': review.icecream.id}) }}">Back to ice-cream</a>

{% endblock %}